.navbar {
  position: sticky;
  padding-block: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  border-bottom: 1px solid #f8fafc1c;
  position: sticky;
  top: 0%;
  z-index: 1;
}

.navbar__active {
  background-color: #0d1321;
  transition: 0.7s;
}

.navbar__inactive {
  background: transparent;
}

.navbar__active::after {
  position: absolute;
  content: " ";
  width: 80px;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgb(247, 4, 77),
    #6402f6,
    rgb(32, 184, 240)
  );
  border-radius: 50px;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar img {
  width: auto;
  height: 42px;
}
.nav_container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__bar {
  padding: 5px;
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.7s;
}
.menu__bar:hover {
  border: 1px solid rgba(192, 192, 192, 0.799);
}

.navbar__item {
  font-size: medium;
  padding-inline: 10px;
  padding-block: 8px;
  position: relative;
  list-style: none;
  color: aliceblue;
  cursor: pointer;
}

.navbar__item::before {
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  content: "";
  border-bottom: 2.5px solid rgb(0, 229, 255);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}
.navbar__item:hover {
  color: rgb(0, 229, 255);
}
.navbar__item:hover::before {
  width: 100%;
}

.navbar__item:active {
  color: rgb(0, 229, 255);
}
.navbar__item:active::before {
  width: 100%;
}

ul:last-child {
  margin-right: 0px;
  padding: 0px;
}
@media only screen and (min-width: 320px) and (max-width: 720px) {
  .nav_container {
    display: none;
  }
  .menu__bar {
    display: block;
    color: azure;
  }
  .navbar {
    flex-direction: column;
    align-items: start;
  }
  .nav_container {
    align-self: center;
  }
  .menu_click {
    position: absolute;
    top: 5rem;
    bottom: 0px;
    display: block;
    flex-direction: column;
    width: 70vw;
    height: max-content;
  }
  .navbar > ul {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .navbar > ul li {
    width: fit-content;
    margin: auto;
    margin-bottom: 0.25rem;
    text-align: center;
  }
}
@media only screen and (min-width: 720px) {
  .navbar ul {
    display: flex;
    flex-direction: row;
  }
}
