.Events {
  padding-block: 2rem;
  width: 100%;
  font-size: medium;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #f8fafc1c;
}
.cards {
  margin-top: 3rem;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 3rem;
  min-width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card img {
  width: 350px;
  height: 300px;
}

.card__left {
  width: 450px;
}
.card__right {
  width: 350px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: #98aac5de;
  background-color: #1e293b65;
  border-radius: 8px;
  backdrop-filter: blur(20px);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5), -8px -8px 20px #354f7565,
    inset 0.2em 0.2em 0.4em #354f7565,
    inset -0.2em -0.2em 0.4em rgba(0, 0, 0, 0.5);
}
.card__right > .subtitle {
  color: rgb(0, 229, 255);
}
.card__right > ul,
.note_content > ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 2.2rem;
}
.event__note {
  padding: 1rem;
  width: 60%;
  text-align: center;
  color: #98aac5;
  background-color: #1e293b65;
  border: solid 1px rgba(192, 192, 192, 0.394);
  border-radius: 8px;
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.event__note {
  line-height: 2.5rem;
}
.note {
  color: rgb(244, 114, 182);
  width: 64px;
  font-size: larger;
  align-self: flex-start;
  justify-self: flex-end;
  transform: translateY(-2px);
  margin-right: 25px;
}
.note_content {
  width: fit-content;
}
ul {
  list-style: none;
}
a {
  position: relative;
}
a > img {
  position: absolute;
  width: 25px !important;
  height: 25px !important;
  padding-block: 2px;
  padding-inline: 5px;
  left: 1.5rem;
  top: 0.3rem;
}

a > p {
  position: absolute;
  top: 0.6em;
  right: 4rem;
}
.container li ::marker {
  color: rgb(0, 229, 255);
}
.submit {
  width: 70%;
  height: 35px;
  color: #98aac5;
  border: 0.5px solid rgba(192, 192, 192, 0.33);
  border-radius: 16px;
  text-decoration: none;
  padding: 5px;
  border-radius: 1.3em;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5), -8px -8px 20px #354f7565,
    inset 0.2em 0.2em 0.4em #354f7565,
    inset -0.2em -0.2em 0.4em rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.submit:hover {
  color: aliceblue;
  border: 1px solid #98aac5;
  box-shadow: 0.2em 0.2em 0.4em #354f7565,
    -0.2em -0.2em 0.4em rgba(0, 0, 0, 0.5),
    inset 8px 8px 20px rgba(0, 0, 0, 0.5), inset -8px -8px 20px #354f7565;
}

.submit:hover > img {
  position: absolute;
  transition: 1s;
  left: 13rem;
  right: 0;
}
.submit:hover > p {
  position: absolute;
  transition: 5s;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
  .Events {
    width: 80%;
    margin: auto;
    padding-inline: 10px;
  }

  .card {
    width: 100%;
    padding: 2rem;
    gap: 3rem;
  }

  .card__left > img {
    width: 232px;
    height: 250px;
  }
  .event__note {
    width: 100%;
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
  }

  .card__right {
    min-width: 240px;
  }
  .note {
    font-size: larger;
    align-self: center;
    justify-self: center;
  }

  .submit {
    width: 120%;
  }
  a > p {
    position: absolute;
    font-size: small;
    top: 0.5rem;
    right: 1.5rem;
  }
  .submit:active > img {
    left: 80%;
    right: 0;
    transition-timing-function: ease-in-out;
  }
}
